$height: 15vw;
$margin: 10px;

.Window {
  width: 30vh;
  height: $height;
  position: relative;
  background-color: white;
  border-radius: 5px;

  header {
    width: 100%;
    height: $height*0.15;
    background: #2c3e50;
    position: absolute;
    border-radius: 5px 5px 0  0;
    top: 0;
    color: white;
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: helvetica;
    font-weight: bold;
    display: flex;

    .label {
      margin-left: $margin;
      font-size: 15px;
    }

    button.minimizer {
      color: white;
      background-color: transparent;
      border: none;
      margin-right: $margin;
    }

  }
}
